* {
    box-sizing: border-box;
}
.example:-webkit-scrollbar {
    display: none;
  }
.banner {
    background-color: #00a884;
    width: 100%;
    height: 50px;
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}

.left-icons {
    display: flex;
    align-items: center;
}

.right-icons {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 15px;
    opacity: 0.75;
    color: whitesmoke;
}

.name {
    font-size: 20px;
    margin-left: 10px;
    font-weight: 600;
    color: rgb(241, 241, 241);

}

.mainDiv {
    min-height: 750px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    margin-bottom: 70px;
    padding-bottom: 20px;
}

body {
    background-image: url("img/wallpaper.png");

}

.foot {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    padding: 10px;
}

.foot-input {
    height: 50px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding-right: 10px;
    border-style: hidden;
    margin: 0px 5px;
    font-size: 22px;

}
.foot-input:focus {
    outline: none;
}
#write {
    border-style: hidden;
    border-radius: 25px;
    display: flex;
    flex-grow: 1;
    text-align: start;
    margin: 0px 5px;
    font-size: 22px;
}



.buttonMicrophone {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0;
    border: 0px;
    background-color: transparent;
}

.buttonChevron {
    display: none;
    align-items: center;
    padding: 0px;
    margin: 0;
    border: 0px;
    background-color: transparent;
}

.chevron {
    opacity: 0.7;
    width: 50px;
    height: 50px;
    background-color: #00a884;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    padding-top: 25%;
}

.microphone {
    margin-left: 5px;
    opacity: 0.7;
    width: 50px;
    height: 50px;
    background-color: #00a884;
    border-radius: 50px;
    border: 0px;
    padding-top: 25%;
}

.camera {
    display: inline;
    margin-left: 30px;
}

.paperclip {
    display: inline;
}

.emoji {
    display: inline;
    margin-left: 15px;
    opacity: 0.7;
}






.textMessageLiStyle {
    display: flex;
    align-self: flex-end;
    width: auto;
    padding: 5px 10px;
    background-color: #00bb6dec;
    color: white;
    font-size: 22px;
    border-radius: 25px;
    list-style: none;
    margin-top: 5px;
    
}

.youTextMessageLiStyle {
    display: flex;
    align-self: flex-start;
    width: auto;
    padding: 5px 10px;
    background-color: #fcfbeeec;
    color: rgb(0, 0, 0);
    font-size: 22px;
    border-radius: 25px;
    list-style: none;
    margin-top: 5px;
    
   
}